@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css */

/* Ustawienia płynnego przewijania dla całej strony */
html {
  scroll-behavior: smooth;
}

/* Stylizowany pasek przewijania */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #2d2d2d; /* Ciemne tło paska przewijania */
}

::-webkit-scrollbar-thumb {
  background-color: #1e90ff; /* Kolor niebieskiego akcentu */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #007acc; /* Ciemniejszy niebieski po najechaniu */
}

/* Dla Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #1e90ff #2d2d2d;
}



